#fechar-svg {
  max-width: 22px;
  max-height: 22px;
}

#esquerda-svg {
  width: 68px;
  height: 68px;
}

#esquerda-icone {
  border: none;
  height: 100%;
  margin-right: 12px;
  
}

#container {
  width: 400px;
  max-height: 200px;
  position: absolute;
  right: 0px;
  top: 100px;
  border-radius: 10px;
  margin: 12px;
  padding: 12px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
  transition-duration: 200ms;
  justify-content: start;
}

#fechar {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: transparent;
  border: none;
}

#fechar:hover {
  opacity: 0.6;
  transition-duration: 200ms;  
}

#fechar:not(:hover) {
  opacity: 1;
  transition-duration: 200ms;    
}


.titulo {
  width: 100%;
  text-align: left;
  font-size: 22px;
  font-weight: 700;
}

.mensagem {
  width: 100%;
  text-align: left;
  font-weight: 400;
}