.bg {
  background-color: var(--indigo-300);
}

#opcoes {
  overflow: hidden;
}

.divisor-vert {
  border-left-width: 2px;
  border-left-style: solid;
  border-color: var(--white);
}

.divisor-hori {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--white);

  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--white);
}

.titulo-opcao {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
}

.subtitulo-opcao {
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
}

.espaco-titulo-opcao {
  margin: 8px 0;
}

.tamanho-img {
  max-width: 40%;
}

.tamanho-img-grande {
  max-width: 60%;
}

.pressionavel {
  cursor: pointer;
}

.pressionavel:hover {
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  background-color: var(--indigo-200);
  transform: scale(1.2);
}

.pressionavel:not(:hover) {
  transition-duration: 200ms;
  transition-timing-function: ease-in;
  transform: scale(1);
}


.titulo-cabecalho {
  color: var(--black);
  font-size: 24px;
  font-weight: 200;
  padding: 4px 8px;
  border-radius: 10px;
  
}

@media (max-width: 900px) {
  .titulo-opcao {
    font-size: 16px;
  }

}
