.container{
  display: flex;
  flex-wrap: nowrap;
}

.cabecalho {
  display: flex;
  top: 0;
  width: 100%;
  position: absolute;
  padding: 32px;
  justify-content: space-between;
}

#painel-esquerdo {
  background-color: var(--indigo-300);
}

.checkbox-rotulo {
  font-size: 18px;
}

.checkbox{
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#utilitario{
  margin-top: 4px;
}

.enviar-btn {
  margin-top: 32px;
  font-weight: bold;
  font-size: 18px;
}

#campo-email,#campo-senha {
  position: relative;
}


@media (max-width: 900px) {
  .painel {
    width: 100%;    
  }
  #painel-esquerdo {
    display: none;
  }
}
