#content {
  padding: 9px;
}

.lista-tarefa {
  list-style-type: none;
  scroll-behavior: smooth;
}

.lista-tarefa li {
  margin: 8px;
}


#tarefa-andamento .lista-tarefa{
  overflow: auto;
  max-height: 200px;
}

.tarefa-titulo{
  font-size: 1.7rem;
  margin-left: 8px;
  margin-bottom: 12px;
  color: var(--indigo-300);
}

.tarefa-container {
  padding: 16px 9px;
  margin-top: 16px;
  border-radius: 10px;
  border: 1px solid #21212130;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#tarefa-disponivel .lista-tarefa{
  width: 90%;
  flex-wrap: wrap;
}

