:root {
  --fonte-titulo: "Raleway", sans-serif;
  --fonte-texto: "Poppins", sans-serif;
}

body {  
  padding-top: 70px; 
}

@media screen and (min-width: 320px) {
  .overlay {
      width: 100%;
      height: 100vh;
      display: none;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      background-color: rgba(33, 33, 33, 0.6);
      backdrop-filter: blur(2px);
  }

  /* HEADER */
  .navBar {
      background-color: var(--white);
      width: 100%;
      height: 70px;
      display: flex;
      z-index: 999;
      position: fixed;
      top: 0;
      padding: 0 12%;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
      flex-direction: row;
  }

  .nav-container {
      display: none;
  }

  .logo {
      width: 150px;
  }

  .nav-container-mob {
      width: 240px;
      height: 100vh;
      display: block;
      background-color: var(--white);
      padding: 100px 30px 30px;
      position: fixed;
      top: 0;
      z-index: 1100;
      transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .btn-menu-mob {
      width: 40px;
      height: 40px;
      background: var(--black);
      border-radius: 8px;
      border: none;
      position: fixed;
      right: 20px;
      top: 13px;
      z-index: 1200;
      cursor: pointer;
  }

  .btn-menu-mob ion-icon {
      height: 40px;
      width: 40px;
      vertical-align: middle;
  }

  .btn-menu-mob:focus {
      outline: none;
  }

  .menu-is-open {
      right: 0;
  }

  .menu-is-close {
      right: -240px;
  }

  .nav-container a,
  .nav-container-mob a,
  .btn-login,
  .btn-cadastro {
      color: var(--black);
      font-family: var(--fonte-titulo);
      font-size: 0.9rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-left: 20px;
      text-decoration: none;
  }

  .nav-container-mob a {
      width: 100%;
      height: 60px;
      line-height: 60px;
      margin-left: 0;
      display: block;
  }

  .nav-container-mob a:hover {
      color: var(--indigo-200);
  }

  .nav-container-mob a:active {
      transform: scale(0.95);
      transition: 0.3s;
  }

  .nav-container a:first-child {
      margin-left: 0;
  }

  .nav-container a:hover {
      color: var(--indigo-200);
      transition: 0.3s;
  }
}

.nav-container nav a {
  position: relative;
}

.nav-container nav a::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--indigo-200);
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0;
  transition: all 0.3s ease-out;
  transform: scale(0, 1);
  transform-origin: center;
}

.navBar nav a:hover:after {
  transform: scale(1, 1);
}

.btn-login {
  font-weight: 700;
  display: none;
  cursor: pointer;
}

.btn-login:hover {
  color: var(--indigo-200);
  transition: 0.3s;
}

.btn-login:active {
  transform: scale(0.95);
  transition: 0.3s;
}

.btn-login:focus {
  outline: none;
}

.btn-cadastro {
  color: var(--white);
  background: var(--black);
  padding: 10px 15px;
  border-radius: 8px;
  display: none;
  cursor: pointer;
}

.btn-cadastro:hover {
  background-color: var(--indigo-200);
      color: var(--white);
  transition: 0.3s;
}

.btn-cadastro:active {
  transform: scale(0.95);
  transition: 0.3s;
}

.btn-cadastro:focus {
  outline: none;
}

.box-btn-mobile {
  display: block;
  margin-top: 30px;
}

.box-btn-mobile:focus {
  outline: none;
}

.box-btn-mobile .btn-login {
  height: 40px;
  border: 2px solid var(--black);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.box-btn-mobile .btn-login:hover {
  border: 2px solid var(--indigo-200);
  transition: 0.3s;
}

.box-btn-mobile .btn-login:active {
  transform: scale(0.95);
  transition: 0.3s;
}

.box-btn-mobile .btn-login:focus {
  outline: none;
}

.box-btn-mobile .btn-cadastro {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.box-btn-mobile .btn-cadastro:hover {
  color: var(--white);
}

.box-btn-mobile .btn-cadastro:active {
  transform: scale(0.95);
  transition: 0.3s;
}

.box-btn-mobile .btn-cadastro:focus {
  outline: none;
}

@media screen and (min-width: 992px) {
  .overlay {
      display: none;
  }

  /*NAVBAR*/
  .nav-container {
      display: block;
  }

  .btn-login {
      display: inline;
  }

  .btn-cadastro {
      display: inline;
  }

  #temp-sair {
      display: inline;
  }

  .nav-container-mob,
  .btn-menu-mob {
      display: none;
  }
}

/* SCROLLBAR */
::-webkit-scrollbar {
  background-color: var(--white-100);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  height: 100px;
  width: 12px;
  background-color: var(--black);
}

/* === CLASSES DE COMPORTAMENTO === */
.open {
  display: block;
}
