* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --cor0: #fff;
    --cor1: #e5e9e9;
    --cor2: #212121;
    --cor3: #164753;
    --cor4: #0095b7;
    --cor5: #1bbb99;
    --gradient: linear-gradient(90deg, #0095b7 0%, #1bbb99 30%);

    --fonte-titulo: "Raleway", sans-serif;
    --fonte-texto: "Poppins", sans-serif;
}

@media screen and (min-width: 320px) {
    .overlay {
        width: 100%;
        height: 100vh;
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: rgba(33, 33, 33, 0.6);
        backdrop-filter: blur(2px);
    }

    /* HEADER */
    .navBar {
        background-color: var(--cor0);
        width: 100%;
        height: 70px;
        display: flex;
        z-index: 999;
        position: fixed;
        padding: 0 12%;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
        flex-direction: row;
    }

    .nav-container {
        display: none;
    }

    .logo {
        width: 150px;
    }

    .nav-container-mob {
        width: 240px;
        height: 100vh;
        display: block;
        background-color: var(--cor0);
        padding: 100px 30px 30px;
        position: fixed;
        top: 0;
        z-index: 1100;
        transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    .btn-menu-mob {
        width: 40px;
        height: 40px;
        background: var(--cor2);
        border-radius: 8px;
        border: none;
        position: fixed;
        right: 20px;
        top: 13px;
        z-index: 1200;
        cursor: pointer;
    }

    .btn-menu-mob ion-icon {
        height: 40px;
        width: 40px;
        vertical-align: middle;
    }

    .btn-menu-mob:focus {
        outline: none;
    }

    .menu-is-open {
        right: 0;
    }

    .menu-is-close {
        right: -240px;
    }

    .nav-container a,
    .nav-container-mob a,
    .btn-login,
    .btn-cadastro {
        color: var(--cor2);
        font-family: var(--fonte-titulo);
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 20px;
        text-decoration: none;
    }

    .nav-container-mob a {
        width: 100%;
        height: 60px;
        line-height: 60px;
        margin-left: 0;
        display: block;
    }

    .nav-container-mob a:hover {
        color: var(--cor4);
    }

    .nav-container-mob a:active {
        transform: scale(0.95);
        transition: 0.3s;
    }

    .nav-container a:first-child {
        margin-left: 0;
    }

    .nav-container a:hover {
        color: var(--cor4);
        transition: 0.3s;
    }
}

.nav-container nav a {
    position: relative;
}

.nav-container nav a::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--cor4);
    display: block;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 0.3s ease-out;
    transform: scale(0, 1);
    transform-origin: center;
}

.navBar nav a:hover:after {
    transform: scale(1, 1);
}

.btn-login {
    font-weight: 700;
    display: none;
    cursor: pointer;
}

.btn-login:hover {
    color: var(--cor4);
    transition: 0.3s;
}

.btn-login:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.btn-login:focus {
    outline: none;
}

.btn-cadastro {
    color: var(--cor0);
    background: var(--cor2);
    padding: 10px 15px;
    border-radius: 8px;
    display: none;
    cursor: pointer;
}

.btn-cadastro:hover {
    background-color: var(--cor4);
        color: var(--cor0);
    transition: 0.3s;
}

.btn-cadastro:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.btn-cadastro:focus {
    outline: none;
}

.box-btn-mobile {
    display: block;
    margin-top: 30px;
}

.box-btn-mobile:focus {
    outline: none;
}

.box-btn-mobile .btn-login {
    height: 40px;
    border: 2px solid var(--cor2);
    border-radius: 8px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.box-btn-mobile .btn-login:hover {
    border: 2px solid var(--cor4);
    transition: 0.3s;
}

.box-btn-mobile .btn-login:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.box-btn-mobile .btn-login:focus {
    outline: none;
}

.box-btn-mobile .btn-cadastro {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cor0);
}

.box-btn-mobile .btn-cadastro:hover {
    color: var(--cor0);
}

.box-btn-mobile .btn-cadastro:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.box-btn-mobile .btn-cadastro:focus {
    outline: none;
}

#temp-sair {
    display: none;
}

/* BANNER */
.banner {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/bg-home.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    padding: 12% 12%;
    flex-direction: column-reverse;
}

.text-banner {
    width: 33rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.svg-banner {
    margin-top: 50px;
    width: 100%;
}

.text-banner h1 {
    color: #212121;
    font-family: var(--fonte-titulo);
    font-size: clamp(4px, 0.5em + 3vw, 1.5em);
    font-weight: 700;
    padding: 0 20%;
    text-align: center;
}

.text-banner h1 {
    margin-bottom: 2.5rem;
}

.btn-banner {
    height: 40px;
    background: var(--gradient);
    border-radius: 5px;
    font-family: var(--fonte-titulo);
    border: none;
    padding: 0;
}

.btn-banner a {
    color: var(--cor0);
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
    padding: 13px 30px;
}

.btn-banner:hover {
    color: var(--cor0);
    box-shadow: 0px 0px 10px rgba(27, 187, 153, 0.5);
    transition: 0.5s;
}

.btn-banner:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.btn-banner:focus {
    outline: none;
}

.icons-banner a {
    text-decoration: none;
    margin-left: 10px;
}

.icons-banner a:first-child {
    margin-left: 0;
}

.icons-banner img {
    margin-top: 30px;
}

.icons-banner img:hover {
    transform: scale(0.95);
}

/* SOBRE */
.sobre {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: justify;
}

.box-sobre {
    width: 100%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.box-sobre img {
    width: 47%;
}

.box-img1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.box-img2 img {
    width: 100%;
}

.text-sobre {
    padding-left: 0;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-sobre h4 {
    font-family: var(--fonte-titulo);
    font-size: clamp(1em, 1em + 3vw, 1.8em);
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 700;
    margin-bottom: 20px;
}

.text-sobre p {
    font-family: var(--fonte-texto);
    font-size: 1rem;
    color: var(--cor2);
    margin-bottom: 10px;
}

.btn-sobre {
    width: 190px;
    height: 40px;
    background: var(--cor0);
    border: 2px solid var(--cor2);
    border-radius: 5px;
    font-family: var(--fonte-titulo);
    font-size: 0.8rem;
    line-height: normal;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-sobre:hover {
    background-color: var(--cor2);
    border: none;
    transition: 0.5s;
}

.btn-sobre:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.btn-sobre a {
    padding: 7px 35px;
    color: var(--cor2);
    text-decoration: none;
    font-weight: 700;
}

.btn-sobre a:hover {
    color: var(--cor0);
}

/* SERVIÇOS */
.servicos {
    width: 100%;
    height: 70rem;
    background: linear-gradient(102deg, #c9c9c9 0%, rgba(255, 255, 255, 0.05) 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    flex-direction: column;
    padding: 5%;
}

.title-servico {
    text-align: center;
    margin-bottom: 70px;
}

.title-servico h4 {
    font-family: var(--fonte-titulo);
    font-size: clamp(1em, 1em + 3vw, 1.8em);
    font-weight: 700;
    background: linear-gradient(90deg, #0095b7 0%, #1bbb99 75%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 20px;
}

.title-servico p {
    color: var(--cor2);
    font-family: var(--fonte-texto);
    font-size: 13px;
    font-weight: 300;
}

.box-serv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 25%;
}

.serv {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
}

.serv:first-child {
    margin-left: 0;
}

.serv-border {
    width: 100px;
    height: 100px;
    border: 3px solid var(--cor4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-serv {
    color: var(--cor2);
}

.text-serv h6 {
    margin: 15px 0;
    font-family: var(--fonte-titulo);
    font-size: 16px;
    font-weight: 700;
}

.text-serv p {
    color: var(--cor2);
    font-family: var(--fonte-texto);
    font-size: 13px;
    font-weight: 400;
}

/* PLANOS */
.planos {
    margin-bottom: 150px;
    width: 100%;
}
.cards-planos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.title-plan {
    font-family: var(--fonte-titulo);
    font-size: clamp(1em, 1em + 3vw, 1.8em);
    font-weight: 700;
    background: linear-gradient(90deg, #0095b7 0%, #1bbb99 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.box-cards {
    display: flex;
}

.card-basico,
.card-Premium,
.card-Intermediário {
    width: 295px;
    height: 500px;
    border: 2px solid var(--cor2);
    border-radius: 8px 20px 8px 20px;
    text-align: center;
    padding: 5%;
    margin-bottom: 50px;
    z-index: 500;
}

.teste-gratis {
    width: 100px;
    height: 35px;
    border: 2px solid var(--cor2);
    border-radius: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -179px;
    top: -17px;
}

.teste-gratis a {
    color: var(--cor5);
    text-shadow: 0px 0px 10px rgba(27, 187, 153, 0.8);
    font-family: var(--fonte-texto);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.card-basico {
    display: flex;
    flex-direction: column;
}

.card-Premium {
    background: linear-gradient(180deg, #0095b7 0%, #1bbb99 100%);
    border: none;
    position: relative;
    top: 0;
}

.title-card h6 {
    color: var(--cor2);
    font-family: var(--fonte-titulo);
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}

.card-Premium h6 {
    color: var(--cor0);
}

.title-card p {
    color: var(--cor2);
    font-family: var(--fonte-texto);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 25px;
}

.box-beneficios {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-check {
    display: flex;
    margin-bottom: 15px;
}

.box-check p {
    color: var(--cor2);
    font-family: var(--fonte-texto);
    font-size: 11px;
    font-weight: 600;
    margin-left: 10px;
}

.card-Premium p {
    color: var(--cor0);
}

.assinar p {
    color: var(--cor2);
    font-family: var(--fonte-texto);
    font-size: 14px;
    font-weight: 600;
    margin-top: 70px;
}

.card-Premium .assinar p {
    color: var(--cor2);
    font-family: var(--fonte-texto);
    font-size: 14px;
    font-weight: 600;
    margin-top: 26px;
}

.card-Intermediário .assinar p {
    color: var(--cor2);
    font-family: var(--fonte-texto);
    font-size: 14px;
    font-weight: 600;
    margin-top: 70px;
}

.valor-card {
    font-family: var(--fonte-texto);
    font-size: clamp(1em, 1em + 3vw, 2em);
    background-image: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.valor-card-premium {
    font-family: var(--fonte-texto);
    font-size: clamp(1em, 1em + 3vw, 2em);
    color: var(--cor0);
}

.btn-card {
    width: 100%;
    height: 40px;
    background-color: var(--cor3);
    color: var(--cor0);
    margin-top: 30px;
    border-radius: 5px 15px 5px 15px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-card:hover {
    background-color: #245e6d;
    color: var(--cor0);
    transition: 0.3s;
}

.btn-card:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.btn-card a {
    color: var(--cor0);
    font-family: var(--fonte-titulo);
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
}

.card-Premium .btn-card {
    background: var(--cor0);
    color: var(--cor4);
}

.card-Premium .btn-card:hover {
    background: #e9e9e9;
}

/* CONVENIO */
.convenio {
    width: 100%;
    height: 500px;
    background-image: url(../assets/img/bg-convenio.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}

.title-convenio {
    text-align: center;
}

.title-convenio p {
    color: var(--cor0);
    font-family: var(--fonte-texto);
    font-size: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.title-convenio h4 {
    color: var(--cor0);
    font-family: var(--fonte-titulo);
    font-size: clamp(1em, 1em + 3vw, 2.5em);
    justify-content: center;
    margin-bottom: 5px;
}

.check-convenio {
    display: flex;
    margin-bottom: 10px;
}

.check-convenio p {
    color: var(--cor0);
    font-family: var(--fonte-texto);
    font-size: 15px;
    font-weight: 600;
    margin: 0 0 0 10px;
}

.btn-convenio {
    width: 300px;
    height: 40px;
    margin-top: 30px;
    background: var(--cor5);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 0 auto;
}

.btn-convenio:hover {
    background-color: #12997c;
    transition: 0.3s;
}

.btn-convenio:active {
    transform: scale(0.95);
    transition: 0.3s;
}

.btn-convenio:focus {
    outline: none;
}

.btn-convenio a {
    text-decoration: none;
    color: var(--cor3);
    font-family: var(--fonte-titulo);
    font-size: 13px;
    font-weight: 600;
    padding: 10px 30px;
}

/* FOOTER */
footer {
    width: 100%;
    height: 400px;
    background: linear-gradient(275deg, #164753 0%, #0095b7 99.75%, #0095b7 99.76%);
    padding: 30px 0;
}

.box-empresa {
    display: flex;
    flex-wrap: wrap;
}

.title-empresa p {
    width: 200px;
    color: var(--cor0);
    font-family: var(--fonte-texto);
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    margin-right: 70px;
}

.links-footer {
    margin-bottom: 20px;
}

.links-footer h6 {
    color: var(--cor0);
    font-family: var(--fonte-titulo);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.links-footer a {
    color: var(--cor0);
    text-decoration: none;
    font-family: var(--fonte-texto);
    font-size: 12px;
    display: block;
}

.links-footer a:hover {
    transform: scale(1);
    transition: 0.3s;
}

.contato {
    margin-left: 20px;
}

.contato h6 {
    color: var(--cor0);
    font-family: var(--fonte-texto);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.email,
.tel {
    display: flex;
    margin-bottom: 10px;
}

.email p,
.tel p {
    display: flex;
    margin-bottom: 0;
}

.box-contato p {
    color: var(--cor0);
    font-family: var(--fonte-texto);
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
}

.box-footer {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 576px) {
    /* BANNER */
    .text-banner h1 {
        padding: 10%;
    }

    .svg-banner {
        margin-top: 50px;
    }

    /* SERVIÇO */
    .box-img1 img {
        width: 100%;
    }

    /* CONVENIO */
    .btn-convenio {
        width: 340px;
    }
}
@media screen and (min-width: 768px) {
    /* BANNER */
    .text-banner h1 {
        padding: 5%;
    }

    .svg-banner {
        margin-top: 50px;
    }

    /* FOOTER */
    .box-footer {
        display: flex;
        flex-direction: column;
    }

    .contato {
        margin-left: 0;
    }
}
@media screen and (min-width: 992px) {
    .overlay {
        display: none;
    }

    /* BANNER */
    .banner {
        flex-direction: row;
        padding: 8% 12%;
    }

    .svg-banner {
        margin-top: 0;
    }

    .text-banner {
        justify-content: start;
        align-items: start;
        margin-top: 30px;
    }

    .text-banner h1 {
        font-weight: 700;
        padding: 0;
        text-align: start;
    }

    /* SOBRE*/
    .sobre {
        margin-bottom: 150px;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        text-align: start;
    }

    .text-sobre {
        padding-left: 10%;
        margin-top: 0;
        align-items: start;
    }

    .text-sobre h4 {
    }

    .box-sobre {
        margin-left: 50px;
    }

    .box-img2 img {
        width: 400px;
    }

    /*NAVBAR*/
    .nav-container {
        display: block;
    }

    .btn-login {
        display: inline;
    }

    .btn-cadastro {
        display: inline;
    }

    #temp-sair {
        display: inline;
    }

    .nav-container-mob,
    .btn-menu-mob {
        display: none;
    }

    /* SERVIÇO */
    .servicos {
        padding: 5%;
    }

    .box-serv {
        flex-wrap: nowrap;
        padding: 0 10%;
    }

    .serv {
        margin-left: 70px;
        margin-bottom: 0;
    }

    /* PLANOS */
    .title-plan {
        margin-bottom: 100px;
    }

    .card-basico,
    .card-Premium,
    .card-Intermediário {
        margin-bottom: 0;
    }

    .card-Premium {
        background: linear-gradient(180deg, #0095b7 0%, #1bbb99 100%);
        border: none;
        position: relative;
        top: -50px;
    }

    /* CONVENIO */
    .btn-convenio {
        margin: 40px 0 0;
    }

    .title-convenio {
        text-align: start;
    }

    /* FOOTER */
    .box-empresa {
        flex-wrap: nowrap;
    }
}

/* SCROLLBAR */
::-webkit-scrollbar {
    background-color: var(--cor1);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    height: 100px;
    width: 12px;
    background-color: var(--cor2);
}

/* === CLASSES DE COMPORTAMENTO === */
.open {
    display: block;
}
