.errorInput {
  justify-content: start;
  align-items: center;
  
  position: absolute;
  bottom: 0;
}

.errorInputTexto {
  font-weight: 500;
  margin-left: 2px;
}


.errorInputSvg {
  max-width: 22px;
  max-height: 22px;
}