.container{
  display: flex;
  flex-wrap: nowrap;
}

.espaco-input {
  margin-bottom: 26px;
}

.espaco-rotulo {
  margin-bottom: 4px;
}

label {
  text-transform: capitalize;
  font-size: 18px;
}

#conteudo-form {
  padding-top: 90px;
}

.cabecalho-form {
  font-size: 24px;
  text-align: start;
  margin-bottom: 16px;
}

#painel-direito {
  background-color: var(--indigo-300);
  right: 0;
}

.enviar-btn {
  margin-top: 32px;
}

.titulo-opcao {
  font-size: 38px;
  font-weight: 600;
  color: var(--white);
}

.espaco-titulo-opcao {
  margin: 12px 0;
}

.tamanho-img {
  width: 60%;
}

#campo-email,#campo-senha,#campo-nome,#campo-dataNasc,#campo-dataNasc,#campo-CPF {
  position: relative;
  margin-top: 8px;
}

@media (max-width: 900px) {
  .painel {
    width: 100%;    
  }

  #painel-direito {
    display: none;
  }

  #form {
    justify-content: center;
  }
}
