input {
  max-height: 45px;
}

.espaco-input {
  margin-bottom: 8px;
}

.espaco-rotulo {
  margin-bottom: 2px;
}

.cabecalho-form {
  font-size: 1.4rem;
}

#painel-direito {
  background-color: var(--indigo-300);
  right: 0;
}

.enviar-btn {
  margin-top: 22px;
  max-height: 60px;
}

.titulo-opcao {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}

.espaco-titulo-opcao {
  margin: 32px 0;
}

.tamanho-img {
  width: 60%;
}

#campo-email,#campo-senha,#campo-nome,#campo-dataNasc,#campo-dataNasc,#campo-CPF {
  position: relative;
  margin-top: 4px;
}


@media (max-width: 900px) {
  #painel-direito {
    display: none;
  }
  #form {
    justify-content: center;
  }
}
