@import "font.css";
@import "customGlobalStyle.css";

:root {
  --indigo-100: #1BBB99;
  --indigo-200: #0095B7;
  --indigo-300: #164753;
  --red-100: #F25252;
  --white: #fff;
  --black: #212121;
  --white-10: #E5E9E9;
  --gray: #B1B1B1;

  font-family: 'Poppins', 'Lucida Sans Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #212121  ;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--black);
  text-decoration: inherit;
}
a:hover {
  color: var(--indigo-100);
}

html,body {
  width: 100% !important; 
  height: 100% !important;
  background-color: var(--white);
}

form {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 1920px;
  min-width: 320px;
}

input[type=text], 
input[type=password],
input[type=email],
input[type=date],
input[type=number]{
  width: 100%;
  height: 60px;
  font-size: 0.87rem;
  padding: 0 8px;
  border-radius: 10px;
  border: 2px solid var(--gray);
  caret-color: var(--indigo-100);
}

label {
  font-size: 1rem
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus{
  border: 2px solid var(--indigo-100);
  transition-duration: 200ms;
  outline: none;
}

input[type=button], input[type=submit] {
  width: 100%;
  height: 8vh;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
  background-color: var(--indigo-300);
  outline: none;
  border: none;  
  border-radius: 10px;
}

input[type=button]:hover, input[type=submit]:hover {
  cursor: pointer;
  background-color: var(--indigo-200);
  transition-duration: 200ms;
}

input[type=button]:not(:hover), input[type=submit]:not(:hover) {  
  background-color: var(--indigo-300);
  transition-duration: 200ms;
}

input[type=button]:active, input[type=submit]:active {
  transform: scale(0.98);
  opacity: 0.8;
  transition-duration: 200ms;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
  color: var(--black);
}

h1, h2, h3, h4, h5, h6 { font-family: 'Raleway' sans-serif; }

button {
  border-radius: 30px;
  border: 1px solid var(--indigo-300);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--indigo-300);
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: var(--indigo-100);
  border-color: var(--indigo-100);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}
