:root {
  --indigo-100: #0095B7;
  --indigo-200: #0B6E85;
  --indigo-300: #164753;
  --Platinum: #E5E9E9;
  --black: #3C3C3C;
  --white: #DDDBDB;
  --gray: #B1B1B1;

  font-family: 'Poppins', 'Lucida Sans Regular', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--black);
  text-decoration: inherit;
}
a:hover {
  color: var(--indigo-100);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-width: 1920px;  
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--white);
}


input[type=text], 
input[type=password],
input[type=email],
input[type=date],
input[type=number]{
  width: 500px;
  height: 60px;
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid var(--gray);
  caret-color: var(--indigo-100);
}

label {
  text-transform: capitalize;
  font-size: 28px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=password]:focus{
  border: 2px solid var(--indigo-100);
  transition-duration: 200ms;
  outline: none;
}

.input-space {
  margin-bottom: 32px;
}

.label-space {
  margin-bottom: 16px;
}

input[type=button] {
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--indigo-300);
  padding: 20px 0;
  outline: none;
  border: none;  
  border-radius: 10px;
}

input[type=button]:hover {
  cursor: pointer;
  background-color: var(--indigo-200);
  transition-duration: 200ms;
}

input[type=button]:not(:hover) {  
  background-color: var(--indigo-300);
  transition-duration: 200ms;
}

input[type=button]:active {
  transform: scale(0.98);
  opacity: 0.8;
  transition-duration: 200ms;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--black);
}

.logo {
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
}

.logo:hover {
  filter: drop-shadow(0 0 2em var(--indigo-100));
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em var(--indigo-100));
}

.svg-width {
  max-width: 420px;
}

#header {
  width: 100%;
  padding: 16px 12px;
  z-index: 10;
  background-color: white;
}

#header a {
  color: var(--black);
}

#btn-login {
  margin-left: 12px;
}

.header-form {
  width: 100%;
  align-self: center;
  text-align: start;
  margin-bottom: 16px;
}

.panel {
  width: 50%;
  height: 100vh;
}

.expanded {
  width: 100%;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.center-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
}

.fixed {
  position: fixed;
}

.notSelectable {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

button {
  border-radius: 30px;
  border: 1px solid var(--indigo-300);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--indigo-300);
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: var(--indigo-100);
  border-color: var(--indigo-100);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("/src/assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}