.andamento {
  max-width: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 10px;
  padding-top: 16px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.andamento button {
  filter: grayscale(10%);
  color: var(--white);
  border-radius: 10px;
  margin: 12px;
  border: none;
  transition: 200ms;
}
.andamento h2 {
  color: var(--indigo-300);
  font-size: 1.3rem;
  margin: 0 8px;
  text-align: center;
}

.andamento button:hover {
  padding: 12px;
}

.whatsapp-btn{
  padding: 0;
  border: none;
}

.cancelar-btn{
  background-color: var(--red-100);
}

.finalizar-btn{
  background-color: var(--indigo-100);
}

.whatsapp-btn:disabled{
  filter: grayscale(100%);
}

.containerAnim {
  max-width: 350px;
}